body {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}
caption{
text-align:left;
font-weight:bold;
font-size:1.2em;
padding-top:5%;

}
td{
padding-right:30px;
}
th{
text-align:left
}
aside {
  width: 16%;
  float:left;
   background-color:lightblue;
   color:white;
   text-align:center;
   height:588px;
}

section {
  width: 80%;
  float:right;
}
